
/* Customize scrollbar styles */
#modal::-webkit-scrollbar, #context-input::-webkit-scrollbar {
    width: 10px;
  }
  
  #modal::-webkit-scrollbar-track, #context-input::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
  }
  
  #modal::-webkit-scrollbar-thumb, #context-input::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  
  #modal::-webkit-scrollbar-thumb:hover, #context-input::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
  }
